.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* margin: 20px; */
    /* padding: 20px; */
    height: 100vh;
}
.profile-img > img{
    height: 500px;
    width: 500px;
    border-radius: 40px;
    border: 2px solid black
}

.profile-img > img:hover{
    transform: scale(1.1);
}

.home-intro{
    height: 350px;
    width: 500px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.2);
    padding: 30px;

}

.home-intro > h1{
    font-size: 2em;
    padding: 5px;
}

.home-intro > h2{
    font-size: 1.5em;
    padding: 2.5px;
}


.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 40px;
}

.age{
    display: flex;
    gap: 5px;
}


@media only screen and (max-width: 800px) {
	.home{
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        /* gap: 100px; */
        margin: 100px; 
        padding: 150px; 
        /* height: 100vh; */
        flex-direction: column;
    }


.profile-img > img{
    height: 350px;
    width: 350px;
    border-radius: 40px;
    border: 2px solid black
}

.profile-img > img:hover{
    transform: scale(1.1);
}

.home-intro{
    height: 350px;
    width: 350px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.2);
    padding: 30px;

}
.home-intro > h1{
    font-size: 1.7em;
    padding: 5px;
}

.home-intro > h2{
    font-size: 1em;
    padding: 2.5px;
}
}